DISCORD_BOT_TOKEN="aaa.abcdefgh.bbb"
DISCORD_CLIENT_ID=123456789012345678
DISCORD_GUILD_ID=123456789012345678
DISCORD_USER_ROLE_ID=123456789012345678
DISCORD_ADMIN_ROLE_ID=123456789012345678

GCP_PROJECT="mcops-495701"
GCP_ZONE="asia-northeast3-a"
GCP_INSTANCE="mcops-server"

GOOGLE_APPLICATION_CREDENTIALS="/home/user/Downloads/my-key.json"
REMOTE_COMMAND_MODE=ssh
SSH_HOST="203.0.113.10"
SSH_PORT=22
SSH_USER="mcops"
SSH_PRIVATE_KEY_PATH="/home/user/.ssh/mcops"
SSH_CONNECT_TIMEOUT_SECONDS=15
REMOTE_COMMAND_TIMEOUT_SECONDS=300

IDLE_CHECK_INTERVAL_SECONDS=60
IDLE_AUTO_STOP_ENABLED=false
IDLE_AUTO_STOP_MINUTES=30
